body {
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;
}

.bg-wrap {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.left-bg {
  flex-shrink: 0;
  width: 100%;
  max-width: 1200px;
  background: url('./assets/bg-left.png') repeat-y;
}

.center-bg .right-bg {
  display: none;
}


@media only screen and (min-width: 1200px) {
  .right-bg {
    flex-shrink: 0;
    width: 100%;
    max-width: 1200px;
    background: url("./assets/bg-right.png") repeat-y;
  }
}

@media only screen and (min-width: 2400px) {
  .center-bg {
    width: 100%;
    max-width: 1200px;
    display: block;
    flex-shrink: 0;
    background: url("./assets/bg-center.png") repeat;
  }
}
